* {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 98vh;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  height: 95%;
}
body {
  margin: 0;
  background-color: transparent;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior-y: none;
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
  /* TODO Solve this in HTML */
}

a,
button,
input,
select {
  pointer-events: auto;
}
body {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
}
.dg.ac {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2 !important;
  /* TODO Solve this in HTML */
}

#overlay {
  position: absolute;
  font-size: 16px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: transparent;
}

#overlay button {
  background: transparent;
  border: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 18px;
  text-transform: uppercase;
  cursor: pointer;
}

#notSupported {
  width: 50%;
  margin: auto;
  background-color: #f00;
  margin-top: 20px;
  padding: 10px;
}
#controller-forward {
  position: fixed;
  bottom: 80px;
  right: 60px;
  font-size: 60px;
  color: #c4c4c4;
}

#controller-right {
  position: fixed;
  bottom: 42px;
  right: 20px;
  font-size: 60px;
  color: #c4c4c4;
}

#controller-back {
  position: fixed;
  right: 60px;
  bottom: 2px;
  font-size: 60px;
  color: #c4c4c4;
}

#controller-left {
  position: fixed;
  bottom: 42px;
  right: 100px;
  font-size: 60px;
  color: #c4c4c4;
}
#point {
  margin-left: 10px;
  margin-right: 10px;
}
